<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>

</head>

<body>
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="{{ site.baseurl }}/">Church<strong>CRM</strong></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/blog">blog</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/features">Features</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/install">Get Started</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/contributions">Get Involved</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/support">Support</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<div class="clear"></div>

{{ content }}

<hr/>
<footer>
    <div class="row">
        <div class="container">
            <div class="spans5 col-md-3">
                <div class="branding logo-lg logo-bw"><span class="sr-only">Church<b>CRM</b></span></div>
                <div class="copyright">
                    ©2016 ChurchCRM All rights reserved.
                </div>
            </div>
            <div class="col-md-2 spans2 col-md-offset-1 offset3 nav">
                <h4 class="topless">Learn</h4>
                <ul class="list-unstyled">
                    <li><a href="{{ site.baseurl }}/features">Features</a></li>
                    <li><a href="http://demo.churchcrm.io" target="_blank">Demo Site</a></li>
                    <li><a href="http://docs.churchcrm.io/" target="_blank">Docs</a></li>
                </ul>
            </div>
            <div class="col-md-2 spans2 nav">
                <h4 class="topless">Stay Informed</h4>
                <ul class="list-unstyled">
                    <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                    <li><a href="http://twitter.com/Church_CRM" target="_blank">Twitter</a></li>
                    <li><a href="https://www.youtube.com/channel/UCiVgDt6Gbwkt8Vfitbbo3aQ" target="_blank">YouTube</a>
                    </li>
                    <li><a href="{{ site.baseurl }}/feed.xml" target="_blank">Feed</a></li>
                </ul>
            </div>
            <div class="col-md-2 spans2 nav">
                <h4 class="topless">Get Involved</h4>
                <ul class="list-unstyled">
                    <li><a href="{{ site.baseurl }}/contributions">Contributions</a></li>
                    <li><a href="https://github.com/ChurchCRM/CRM" target="_blank">Github</a></li>
                    <li><a href="https://github.com/ChurchCRM/CRM/issues" target="_blank">Issue Tracker</a></li>
                    <li><a href="https://gitter.im/ChurchCRM/CRM" target="_blank">Dev Chat Support</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- /.banner -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
    ((window.gitter = {}).chat = {}).options = {
        room: 'churchcrm/crm'
    };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

{% include analytics.html %}
</body>
</html>
